{{ define "salesForm" }}
{{ template "pageHeader" . }}
{{ $s := (index .Data.Sales 0) }}
{{ $i := (index .Sdata 0).Items}}
{{ $net := .Net }}


<form class="pure-form pure-form-aligned" id="salesForm" action="/sales/save" method="post">
	<fieldset>
		<div class="pure-control-group">
			<label for="Id">Id:</label>
			<input name="Id" type="number" value="{{ or $s.Id "" }}" class="pure-input-1-3" placeholder="Id" readonly>
		</div>
	</fieldset>
	<fieldset>
		<div class="pure-control-group">
			<label for="ItemId">Item Name:</label>
			<select name="ItemId" size="5" form="salesForm" value="{{ or $s.ItemId "" }}" class="pure-input-1-3" required>
				{{ range $i }}
					<option value="{{ .Id }}" {{if ($net.Compare $s.ItemId .Id)}}selected{{end}}>{{ .Name }}</option>
				{{ end }}
			</select>
		</div>
		<div class="pure-control-group">
			<label for="Quality">Quality:</label>
			<input name="Quality" type="number" value="{{ or $s.Quality "" }}" class="pure-input-1-3" placeholder="Quality">
		</div>
		<div class="pure-control-group">
			<label for="Qty">Quantity:</label>
			<input name="Qty" type="number" value="{{ or $s.Qty "" }}" class="pure-input-1-3" placeholder="Quantity">
		</div>
		<div class="pure-control-group">
			<label for="SoldPrice">Sold Price:</label>
			<input name="SoldPrice" type="number" value="{{ or $s.SoldPrice "" }}" class="pure-input-1-3" placeholder="Price">
		</div>
	</fieldset>
	<a href="/sales/list" class="pure-button pure-input-1-4">Cancel</a>
	<input type="submit" class="pure-button pure-input-1-4 pure-button-primary" value="Save Sale" />
</form>

{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}